<div class="logo">
	<h1>
		<%= link_to "blogApp", root_path %></h1>
</div>
<div class="navbar">
	<ul>
		<li>
			<%= link_to "Home", root_path %></li>

		<% if logged_in? %>
		<li>
			<%= link_to "Logged in as #{current_user.user_name} (Edit Profile)", edit_user_path(current_user) %></li>

		<li>
			<%= link_to "Log out", log_out_path, confirm: 'Are you sure you want to log out?' %></li>
		<% else %>

		<li>
			<%= link_to "Login", log_in_path %></li>
		<li>
			<%= link_to "Register", sign_up_path %></li>
		<% end %></ul>
</div>