<h2>Log In</h2>
<div class="holder">
	
	<%= form_tag sessions_path  do %>
	<p>Email Address</p>
	<%= text_field_tag :email %>

	<p>Password</p>
	<%= password_field_tag :password %>

	<p>  
     <%= check_box_tag :remember_me %>
     <%= label_tag "Remember Me?" %>
    </p>

	<p><%= submit_tag "Log In" %></p>
<% end %>
</div>
