<% @posts.each do |post| %>
<li class="document" id="post_<%=post.id %>">
	<h3>
		<%= link_to "#{truncate(post.title.titleize, :separator => ' ', :length => 60)}", post_path(post) %></h3>
	<span>
		Posted
		<%= time_ago_in_words(post.created_at).titleize  %>
		Ago - By
		<%= post.user_name %></span>
	<div id="clear"></div>
	<%= sanitize(truncate(post.content, :separator =>
	' ', :length => 200)) %> 
					&nbsp;
	<small> 
		<em>(<%= pluralize(post.comments.count, "comment").upcase %>)
		</em>
	</small>

	<% if logged_in? && can_edit?(post) %>
	<%= link_to "Edit this post", edit_post_path(post) %>
	<% end %>
	<div id="clear"></div>
	
</li>
<% end %>