<%= render 'includes/masthead' %>
<body>
<div id="header">
	<%= render 'includes/top_nav' %></div>
<div id="clear"></div>
<!-- Wrapper Stars -->
<div id="wrapper">
	<!-- Section Left Starts -->
	<%= render 'includes/side_bar' %>
	<!-- Section Left Ends -->

	<!-- Section left Starts -->
	<div class="section_right">
		<%= render 'includes/flash_messages' %>
		<%= yield %></div>
	<!-- Section left ends -->
</div>
<!-- Section Right Ends -->
<div id="clear"></div>
</div>
</div>
<!-- Wrapper Ends -->
<div id="clear"></div>
<!-- Footer Starts -->
<%= render 'includes/footer' %>